<div id="sec1" class="row section-title">
    <div class="col-md-12">
        <span class="marker" style="background-color: #c08de0;"></span>
        <span>GROUPS</span>
    </div>
</div>

{% for item in items %}
<div class="row margin-top-1 service-item groups">
    <span style="margin-left:10px;">
        {{ item.content }}
    </span>
</div>
{% endfor %}
